

body {
    background: linear-gradient(grey, rgb(69, 69, 69), rgb(34, 34, 34), black, rgb(34, 34, 34), rgb(69, 69, 69));
    min-height: 100vh;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

