@import '_variables.scss';

@mixin headLinkRules () {
    &:link {
        color: black;
    }

    &:visited {
        color: black;
    }
}

$tabletFontSize: 35px;
$hamburgerMenuColour: rgba(145, 145, 145, 0.605);



a {
    @include linkRules ();
}

// header rules
header {
    p {
        color: $fontColor;
    }
}

#mobileHeader {
    display: grid;
    grid-auto-flow: row;
    row-gap: 20px;
    justify-items: center;
    margin-bottom: 10px;
    margin: 0;
    padding: 0;

    .hamburger {
        display: grid;
        position: absolute;
        width: 95%;
        top: 10px;
        left: 2.5%;
        
        a {
            @include headLinkRules();
        }
        
        #mobileMenuCheckbox {
            width: 50px;
            height: 50px;
            position: absolute;
            opacity: 0;
            z-index: 2;
        }

        #mobileMenuCheckbox:checked~.hamburgerMenu {
            top: 0;
            opacity: 1;
            transition: all 0.5s ease-in-out;
        }

        .hamburgerIcon {
            width: 50px;
            height: 50px;
            position: relative;
            z-index: 1;
        }

        .hamburgerMenu {
            display: grid;
            justify-items: center;
            align-items: center;
            position: absolute;
            width: 100%;
            height: 50vh;
            background-color: $hamburgerMenuColour;
            top: -75vh;
            left: 0;
            opacity: 0;
            transition: all 0.5s ease-in-out;
            
        }
    }

    .logo {
        width: 15%;
    }

}

#desktopHeader {
    display: none;
}

// footer rules
footer {
    display: grid;
    margin-top: 25px;

    .openHours {
        margin-bottom: 75px;

        h2 {
            color: $fontColor;
        }

        p {
            color: $fontColor;
            font-family: $copywritefont;
        }
    }

    p {
        color: $fontColor;
    }

    h6 {
        text-align: right;
        font-family: $copywritefont;
        color: $fontColor;
    }

    a {
        @include linkRules() ;
    }
}

// tablet rules
@media only screen and (min-width: 600px) {
    #mobileHeader {
    
        .hamburger {

            #mobileMenuCheckbox {
                width: 75px;
                height: 75px;
                position: absolute;
                opacity: 0;
                z-index: 2;
            }
    
            #mobileMenuCheckbox:checked~.hamburgerMenu {
                top: 0;
                opacity: 1;
                transition: all 0.5s ease-in-out;
            }
    
            .hamburgerIcon {
                width: 75px;
                height: 75px;
                position: relative;
                z-index: 1;
            }
    
            .hamburgerMenu {
                display: grid;
                justify-items: center;
                align-items: center;
                position: absolute;
                width: 100%;
                height: 50vh;
                background-color: rgba(145, 145, 145, 0.605);
                top: -75vh;
                left: 0;
                opacity: 0;
                transition: all 0.5s ease-in-out;

                a {
                    font-size: 50px;
                }
            }
        }
    
        .logo {
            width: 15%;
        }
    
        .cellNum {
            font-size: $tabletFontSize;
            width: 50%;
            text-align: center;
        }
    }

    footer {

        .openHours {
            h2 {
                font-size: $tabletFontSize;
            }
        
            p {
                font-family: $copywritefont;
                font-size: $tabletFontSize;
            }
        }
    }
}

// desktop rules
@media only screen and (min-width: 1030px) {
    #mobileHeader {
        display: none;
    }

    #desktopHeader {
        display: grid;
        justify-items: center;
        margin-bottom: 10px;

        nav {
            display: grid;
            justify-items: center;
            grid-auto-flow: column;
            margin-top: 25px;
        }

        .logo {
            width: 15%;
        }
    }
}