@import '_headfoot.scss';
@import '_body.scss';
@import '_variables.scss';

* {
    padding: 0;
    margin: 0;
}

main {
    display: grid;
    row-gap: 10px;
}

.aboutUs {
    display: grid;

    .hook {
        text-align: center;
        font-family: $hookFont;
    }

    img {
        width: 75vw;
        justify-self: center;
    }

    h3 {
        font-family: $titleFont;
        color: $fontColor;
    }

    p {
        font-family: $aboutFont;
        color: $fontColor;
    }
}

@media only screen and (min-width: 600px) {
    .aboutUs {
        display: grid;
    
        .hook {
            font-size: 45px;
        }
    
        h3 {
            font-size: 25px;
        }
    
        p {
            font-size: 25px;
        }
    }
}

// desktop rules
@media only screen and (min-width: 1030px) {
    img {
        justify-self: unset;
    }
}