@import '_headfoot.scss';
@import '_body.scss';
@import '_variables.scss';

* {
    padding: 0;
    margin: 0;
}

main {
    display: grid;
    row-gap: 10px;
}

.aboutUs {
    display: grid;

    .hook {
        text-align: center;
    }

    h3 {
        font-family: $titleFont;
        color: $fontColor;
    }

    p {
        font-family: $aboutFont;
        color: $fontColor;
    }
}