@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap");
a:link {
  color: #00aaff;
}

a:visited {
  color: #b671ff;
}

header p {
  color: white;
}

#mobileHeader {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: row;
  row-gap: 20px;
  justify-items: center;
  margin-bottom: 10px;
  margin: 0;
  padding: 0;
}

#mobileHeader .hamburger {
  display: -ms-grid;
  display: grid;
  position: absolute;
  width: 95%;
  top: 10px;
  left: 2.5%;
}

#mobileHeader .hamburger a:link {
  color: black;
}

#mobileHeader .hamburger a:visited {
  color: black;
}

#mobileHeader .hamburger #mobileMenuCheckbox {
  width: 50px;
  height: 50px;
  position: absolute;
  opacity: 0;
  z-index: 2;
}

#mobileHeader .hamburger #mobileMenuCheckbox:checked ~ .hamburgerMenu {
  top: 0;
  opacity: 1;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#mobileHeader .hamburger .hamburgerIcon {
  width: 50px;
  height: 50px;
  position: relative;
  z-index: 1;
}

#mobileHeader .hamburger .hamburgerMenu {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 100%;
  height: 50vh;
  background-color: rgba(145, 145, 145, 0.605);
  top: -75vh;
  left: 0;
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#mobileHeader .logo {
  width: 15%;
}

#desktopHeader {
  display: none;
}

footer {
  display: -ms-grid;
  display: grid;
  margin-top: 25px;
}

footer .openHours {
  margin-bottom: 75px;
}

footer .openHours h2 {
  color: white;
}

footer .openHours p {
  color: white;
  font-family: "Courier New", Courier, monospace;
}

footer p {
  color: white;
}

footer h6 {
  text-align: right;
  font-family: "Courier New", Courier, monospace;
  color: white;
}

footer a:link {
  color: #00aaff;
}

footer a:visited {
  color: #b671ff;
}

@media only screen and (min-width: 600px) {
  #mobileHeader .hamburger #mobileMenuCheckbox {
    width: 75px;
    height: 75px;
    position: absolute;
    opacity: 0;
    z-index: 2;
  }
  #mobileHeader .hamburger #mobileMenuCheckbox:checked ~ .hamburgerMenu {
    top: 0;
    opacity: 1;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  #mobileHeader .hamburger .hamburgerIcon {
    width: 75px;
    height: 75px;
    position: relative;
    z-index: 1;
  }
  #mobileHeader .hamburger .hamburgerMenu {
    display: -ms-grid;
    display: grid;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    width: 100%;
    height: 50vh;
    background-color: rgba(145, 145, 145, 0.605);
    top: -75vh;
    left: 0;
    opacity: 0;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  #mobileHeader .hamburger .hamburgerMenu a {
    font-size: 50px;
  }
  #mobileHeader .logo {
    width: 15%;
  }
  #mobileHeader .cellNum {
    font-size: 35px;
    width: 50%;
    text-align: center;
  }
  footer .openHours h2 {
    font-size: 35px;
  }
  footer .openHours p {
    font-family: "Courier New", Courier, monospace;
    font-size: 35px;
  }
}

@media only screen and (min-width: 1030px) {
  #mobileHeader {
    display: none;
  }
  #desktopHeader {
    display: -ms-grid;
    display: grid;
    justify-items: center;
    margin-bottom: 10px;
  }
  #desktopHeader nav {
    display: -ms-grid;
    display: grid;
    justify-items: center;
    grid-auto-flow: column;
    margin-top: 25px;
  }
  #desktopHeader .logo {
    width: 15%;
  }
}

body {
  background: -webkit-gradient(linear, left top, left bottom, from(grey), color-stop(#454545), color-stop(#222222), color-stop(black), color-stop(#222222), to(#454545));
  background: linear-gradient(grey, #454545, #222222, black, #222222, #454545);
  min-height: 100vh;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

* {
  padding: 0;
  margin: 0;
}

img {
  width: 90vw;
}

main {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

a:link {
  color: #00aaff;
}

a:visited {
  color: #b671ff;
}

h2 {
  color: white;
}

p {
  color: white;
}

#contactInfo {
  margin-bottom: 50px;
  margin-top: 50px;
}

#contactInfo .contactTitle {
  text-decoration: underline;
  margin-bottom: 15px;
}

.restrantImages {
  margin-bottom: 50px;
}

.restrantImages img {
  -ms-grid-column-align: center;
      justify-self: center;
}

.googlemap {
  min-width: 250px;
  -ms-grid-column-align: center;
      justify-self: center;
}

@media only screen and (min-width: 600px) {
  .googlemap {
    width: 75vw;
    height: 500px;
  }
}
/*# sourceMappingURL=contact.css.map */