@import '_headfoot.scss';
@import '_body.scss';
@import '_variables.scss';

* {
    padding: 0;
    margin: 0;
}

main {
    display: grid;
}

a {
    @include linkRules ();
}

h2 {
    color: $fontColor;
}

p {
    color: $fontColor;
}