@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap");
#mobileHeader {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  justify-items: center;
  margin-bottom: 10px;
  margin: 0;
  padding: 0;
}

#mobileHeader .hamburger {
  display: -ms-grid;
  display: grid;
  position: absolute;
  width: 95%;
  top: 10px;
  left: 2.5%;
}

#mobileHeader .hamburger #mobileMenuCheckbox {
  width: 50px;
  height: 50px;
  position: absolute;
  opacity: 0;
  z-index: 2;
}

#mobileHeader .hamburger #mobileMenuCheckbox:checked ~ .hamburgerMenu {
  top: 0;
  opacity: 1;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#mobileHeader .hamburger .hamburgerIcon {
  width: 50px;
  height: 50px;
  position: relative;
  z-index: 1;
}

#mobileHeader .hamburger .hamburgerMenu {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 100%;
  height: 50vh;
  background-color: rgba(145, 145, 145, 0.605);
  top: -75vh;
  left: 0;
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#mobileHeader .logo {
  width: 15%;
}

#desktopHeader {
  display: none;
}

footer {
  display: -ms-grid;
  display: grid;
  margin-top: 25px;
}

footer p {
  color: white;
  font-family: "Courier New", Courier, monospace;
}

footer h6 {
  text-align: right;
  font-family: "Courier New", Courier, monospace;
  color: white;
}

footer a:link {
  color: #00aaff;
}

footer a:visited {
  color: #b671ff;
}

@media only screen and (min-width: 600px) {
  #mobileHeader .hamburger #mobileMenuCheckbox {
    width: 75px;
    height: 75px;
    position: absolute;
    opacity: 0;
    z-index: 2;
  }
  #mobileHeader .hamburger #mobileMenuCheckbox:checked ~ .hamburgerMenu {
    top: 0;
    opacity: 1;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  #mobileHeader .hamburger .hamburgerIcon {
    width: 75px;
    height: 75px;
    position: relative;
    z-index: 1;
  }
  #mobileHeader .hamburger .hamburgerMenu {
    display: -ms-grid;
    display: grid;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    width: 100%;
    height: 50vh;
    background-color: rgba(145, 145, 145, 0.605);
    top: -75vh;
    left: 0;
    opacity: 0;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  #mobileHeader .logo {
    width: 15%;
  }
}

@media only screen and (min-width: 1030px) {
  #mobileHeader {
    display: none;
  }
  #desktopHeader {
    display: -ms-grid;
    display: grid;
    justify-items: center;
    margin-bottom: 10px;
  }
  #desktopHeader .logo {
    width: 15%;
  }
}

body {
  background: -webkit-gradient(linear, left top, left bottom, from(#454545), color-stop(#222222), color-stop(black), color-stop(#222222), to(#454545));
  background: linear-gradient(#454545, #222222, black, #222222, #454545);
  min-height: 100vh;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

* {
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
}

main {
  display: -ms-grid;
  display: grid;
  row-gap: 10px;
}

h2 {
  color: white;
}

.cardplacement {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  overflow-x: scroll;
}

.cardplacement .menuCard {
  border-radius: 20px;
  padding: 10px;
  min-width: 250px;
  background-color: rgba(255, 255, 255, 0.51);
  -webkit-transition: active 0.3s ease-in-out;
  transition: active 0.3s ease-in-out;
}

.cardplacement .menuCard > img {
  border-radius: 15px;
}

.cardplacement::-webkit-scrollbar {
  display: none;
}

article.cardText h4 {
  font-family: "PT Sans", sans-serif;
}

article.cardText .pizzaDescription {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

article.cardText .price {
  text-align: end;
}

@media only screen and (min-width: 1030px) {
  .cardplacement {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-items: center;
    overflow: visible;
  }
  .cardplacement .menuCard:hover {
    -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
    -webkit-transition: active 0.3s ease-in-out;
    transition: active 0.3s ease-in-out;
  }
}
/*# sourceMappingURL=menustyle.css.map */