@import '_headfoot.scss';



img {
    max-width: 100%;
}

main {
    display: grid;
}

.cheeseVid {
    width: 80vw;
    height: 15vh;
}

section.menu {
    display: grid;

    .cardContainer {
        display: grid;
        grid-auto-flow: column;
        overflow-x: scroll;
    }
}

// for tablet
@media only screen and (min-width: 600px) {
    .cheeseVid {
        height: 20vh;
    }
}

// for desktop
@media only screen and (min-width: 1000px) {
    .cheeseVid {
        height: 35vh;
    }
}