@import '_headfoot.scss';
@import '_body.scss';
@import '_variables.scss';

* {
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
}

main {
    display: grid;
    row-gap: 5px;
    justify-items: center;
}

.cheeseVid {
    width: 80vw;
    height: 15vh;
}

.revolvingPictures {
    margin-bottom: $spacing;
    margin-top: $spacing;

    img {
        width: 50vw;
    }
}

section.menu {
    display: grid;
    background-color: gray;
    border-width: 5px;
    border-color: black;
    padding-left: 5px;
    padding-right: 5px;

    a {
        &:link {
            color: black;
        }
    
        &:visited {
            color: black;
        }
    }
}
.cardContainer {
    display: grid;
    grid-auto-flow: column;
    column-gap: 20px;
    overflow-x: scroll;
    
    &::-webkit-scrollbar {
        display: none;
    }

    .menuCard {
        display: grid;
        width: 100px;
        max-height: 50%;

        p {
            text-align: right;
        }
    }
}

.googlemap {
    min-width: 250px;
    justify-self: center;
}

// for tablet rules
@media only screen and (min-width: 600px) {
    .cheeseVid {
        height: 20vh;
    }

    .googlemap {
        width: 75vw;
        height: 500px;
    }
}

// for desktop rules
@media only screen and (min-width: 1000px) {
    section.menu {
        display: none;
    }

    .cheeseVid {
        height: 35vh;
    }
}